# supplemental files not to track
*~
*/#*
dump/
#*#

# stuff we don't want to track
setup/mytelescopes.py
doc/_build/
ppident_asteroids*
ppident_variablestars*

### Python ###
## Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# results stuff
*.db
*.ldac
*.html
*.xml
*.dat
*.lst
*.cat
**/.diagnostics
